streamlit
llama-index
llama-index-vector-stores-chroma
llama_index-llms-ollama
llama-index-llms-langchain
llama-index-embeddings-langchain
sentence-transformers
spacy
langchain
langchain_openai 
chromadb
docx2txt
streamlit-aggrid
chardet
uvicorn
sse-starlette
ollama
torch 
transformers 
python-pptx 
Pillow
llama-index-vector-stores-elasticsearch
redis
llama_index-storage-chat_store-redis
llama-index-retrievers-bm25
unstructured
nltk
jieba