chardet
chromadb
docx2txt
jieba
langchain
langchain_openai 
llama-index
llama-index-embeddings-huggingface
llama-index-embeddings-langchain
llama-index-llms-langchain
llama-index-readers-web
llama-index-retrievers-bm25
llama-index-storage-kvstore-postgres
llama-index-storage-kvstore-redis
llama-index-vector-stores-chroma
llama-index-vector-stores-elasticsearch
llama-index-vector-stores-lancedb
llama-index-llms-fireworks
llama-index-llms-ollama
llama-index-storage-chat_store-redis
ollama
Pillow
python-pptx 
redis
sentence-transformers
spacy
sse-starlette
streamlit
streamlit-aggrid
torch 
transformers 
unstructured
uvicorn